html, body {
    height: 100%;
  }
  
#wrap {
min-height: 100%;
}

#main {
overflow:auto;
padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
position: relative;
margin-top: -150px; /* negative value of footer height */
height: 150px;
clear:both;
padding-top:20px;
} 
header {
    margin: 0;
    border-bottom: 2px solid black;
    
}
header h1 {
    color: black;
    margin: 0;
    padding: 0;
}
header p {
    margin: 0;
    padding: .25em 0 0 0;
}
header ul {
    margin: 0;
    padding: 1em 0 0 0;
}

.navbar {
    background-color: #001963;
}

.navbar-brand, .nav-item, nav a, .nav-link {
    color: #dbdbdb;
}
main {
    margin: 0;
    padding: .5em 2em .25em;
}
footer {
    clear: both;
    margin-top: 1em;
    padding-right: 1em;
    border-top: 2px solid black;
}
footer p {
    text-align: right;
    font-size: 80%;
    margin: 1em 0;
}

h1 {
    font-size: 150%;
    margin: 0;
    padding: .5em 0 .25em;
}
h2 {
    font-size: 120%;
    margin: 0;
    padding: .25em 0 .25em ;
}
h1, h2 {
    color: black;
}
p {
    margin: .5em 0 .5em 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
}
nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}


a {
    color: #3333CC;
    font-weight: bold;

}
a:hover {
    color: #3333CC;
}

table {
    border: 1px solid #001963;
    border-collapse: collapse;
}
td, th {
    border: 1px dashed #001963;
    padding: .2em .5em .2em .5em;
    text-align: left;
}
#no_border {
    border: 0px;
}
#no_border td {
    border: 0px;
}

form {
    margin: 0;
}
br {
    clear: left;
}
textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
}

.right {
    text-align: right;
}
.errors {
    color: red;
    font-style: bold;
}
.adj_error {
    color: red;
    display: inline;
}
.message {
    margin-left: .5em;
    width: 15em;
}

#aligned {
    margin: .5em 0 2em;
}
#aligned label {
    width: 8em;
    margin-top: .2em;
    margin-right: 1em;
    margin-bottom: .5em;
    float: left;
}
#aligned input {
    float: left;
}
#aligned input[text] {
    width: 15em;
}
#aligned .message {
    margin-left: .5em;
    width: 15em;
}
.block {
    display: block;
}

input {
    margin: 8px 0;
}
select {
    margin: 8px 0;
}
label {
    display: inline-block;
    width: 150px;
    text-align: right;
}
#left-label {
    text-align:left;
}
.sub-button  {
   display:inline-block!important; 
}
.update_form_line {
    margin: 8px 0;
}
.update_form_line label {
    text-align: left;
}
